{% extends 'base.html' %}
{% block content %}
<section class="section">
<div class="container">
  <h1 class="title is-3">What is PIT Transcriptor?</h1>
  <p class="content">
  PIT Transcriptor makes transcriptions for podcasters easy. It offers quick
  transcriptions with the ability to make and store quick edits that make the
  service faster and more tailored to you each time you use it.
  </p>

  <h1 class="title is-3">What is PIT</h1>
    <p class="content">
    Productivity in Tech (PIT) works with developers creating media-rich
    content for others. This comes in the form of digital marketing and
    consulting as well as editing and transcription services.
    </p>
  </div>
</div>
</section>
{% endblock %}
