{% extends 'base.html' %}
{% block content %}
<section class="section">
<div class="notification">
  <h1 class="title is-1">Our Model Matches our Goal</h1>
  <h2 class="subtitle">It is our goal to make transcriptions a thoughtless
    act.</h2>
</div>
<div class="box">
  <p class="is-capitalized subtitle is-3">transcriptions should be free</p>
  <p class="content">Transcriptions enabled more and more people to engage with your content
  and we think that's great. No one should miss out because of a disability and
  we want to make sure of that.</p>
  <p class="subtitle is-4">That said, we are a business and need to make sure
  the lights stay <span class="has-text-warning">on</span> for
  everyone. 
  </p>
  
  <p> We do that through <a href="">client work</a>, <span
    class="has-text-primary">donations</span>, other projects under the <em><a
    href="https://productivityintech.com">Productivity in
    Tech</a></em> Brand and through our <a href="">pro users</a>.
  </p>
  
</div>

<div class="box">
  <p class="is-capitalized subtitle">We use technology (and a lot of leg-work) to keep things cheap</p>
  <p>The foundation of our technology is the speech-to-text algorithms made by
  the industry leaders in machine learning.</p>
  <p>As our needs continue to grow we are actively researching more and more
  ways to increase efficiency and performance</p>
  <section class="section">
  <div class="level">
    <div class="level-item">
        <h2 class="title is-4 has-text-success">
         Actively in Use</h2>
        <section class="section">
      <img style="max-height: 5em;"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/2560px-Amazon_Web_Services_Logo.svg.png"
          >
        </section>
    </div>

    <div class="level-item">
      <div class="notification">
        <h2 class="title is-4 has-text-primary">
          Under Research</h2>
  <section class="section">
      <div class="columns">
        <div class="column is-narrow">
        <img style="opacity: 0.6; max-height: 5em;"
          src="https://upload.wikimedia.org/wikipedia/en/0/00/IBM_Watson_Logo_2017.png">

        </div>
        <div class="column is-narrow">
        <img style="height: 5em;" src="https://www.gstatic.com/devrel-devsite/prod/vcd1bbe5dda31d2b800805cc4c730b0229f847f2d108be33386b6e78644e79178/cloud/images/cloud-logo.svg" class="devsite-site-logo" alt="Google Cloud">
    </div>
    </div>

  </section>
    </div>
  </section>
</div>
<p class="content">

<div class="box">
  <p class="is-capitalized subtitle">We stay <span
     class="has-text-weight-light">lean</span>, intentionally</p>
  <p>We Don't </p>
  <p>While we happily accept donations from our users and any potential
  donors, we respectfully decline any venture backed investments that come with
  obligations.</p>
  determined by 
</div>
</section>
{% endblock %}
