{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box columns is-vcentered">
      <div class="column is-narrow">
        <h1 class="title is-4">Account Details:
          <span class="subtitle is-3">{{object.username}}</span></h1>
      </div>

      {% if is_premium %}
      <div class="column is-narrow">
        <div class="tags has-addons">
          <span class="tag is-warning">
            <span class="icon">
              <icon class="fas fa-star"></icon>
            </span>
          </span>
            <span class="tag is-dark">Premium User!</span>
          </span>
        </div>
      </div>
      {% else %}
      <div class="column is-narrow">
        <div class="tags has-addons">
          <span class="tag is-primary">Standard User</span>
          <span class="tag is-warning">Go Pro</span>
        </div>
      </div>

      {% endif %}

    </div>
  </section>

  {% include 'quick_actions.html' %}

  {% include 'latest_transcriptions.html' %}

  <div class="box">
    <div>
      <h1 class="subtitle is-4">Projects <span class="subtitle is-5">
    </div>
    {% include 'projects_list.html' %}
  </div>

  <section class="section">
  <div class="box">
  <h1 class="subtitle">Projects Following</h1>
        <div class="tiles">
          <div class="tile is-ancestor">
            <div class="tile is-parent">
                {% for followed_project in following %}
                {% with followed_project.project as project %}
              <div class="tile is-child is-3 box">
                <h1 class="title">
                  <a class="has-text-dark" href="{% url 'project_detail' project.pk %}">{{project.name}}</a>
                </h1>

                {% if project.project_image %}
                <figure class="image is-128x128">
                  <img src="{{project.project_image.url}}">
                </figure>
              {% endif %}

            </div>
        {% endwith %}
          </div>
        </div>
      {% endfor %}
        </div>

  </section>

{% endblock %}
