{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container box">
    <h1 class="title is-3">Account Details: {{object.username}}</h1>
  </div>
  <div class="container box"> 
    <div class="columns">
  <div class="column is-narrow">
    <h1 class="subtitle is-4">Latest Transcriptions <span class="subtitle
    is-5"><a href="{% url 'transcription_create' %}">New Transcription</a></span></h1>
    <hr>
    {% for transcription in transcriptions %}
    <div class="columns">
      <div class="column is-narrow">
      <a href="{% url 'transcription_detail' transcription.pk}}">{{transcription}}</a>
      </div>
      <div class="column is-narrow">
        <a class="tag is-info is-light" 
        href="{% url 'project_detail' transcription.project.pk %}">{{transcription.project}}</a>
    </div>
      <div class="column is-narrow">
        <a class="tag is-danger" 
        href="{% url 'transcription_delete' transcription.pk %}">Delete</a>
    </div>
    </div>
    {% endfor %}
  </div>
  <div class="column is-expanded is-offset-1">
    <h1 class="subtitle is-4">Projects <span class="subtitle is-5"><a
                                             href="project/create/">New
                                             Project</a></span></h1>

    <hr>
    {% for project in projects %}
    <div>
      <a href="{% url 'project_detail' project.pk %}">{{project}}</a>
    </div>
    {% endfor %}
  </div>
  </div> 
  </div>
</section>
<sections class="section">
<div class="box container">
  <h1 class="subtitle">Projects Following</h1>

  {% for followed_project in following %}
    <div>
      <a href="{% url 'project_detail' followed_project.project.pk %}">
        {{followed_project.project.name}}
      </a>
    </div>
  {% endfor %}
</div>
  </section>

{% endblock %}
