{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container box">
    <h1 class="title is-3">Account Details: {{object.username}}</h1>
  </div>
  <div class="container box"> 
    <div class="columns">
  <div class="column is-one-half">
    <h1 class="subtitle is-4">Latest Transcriptions <span class="subtitle
    is-5"><a href="transcriptions/create/">New Transcription</a></span></h1>
    <hr>
    {% for transcription in transcriptions %}
    <div>
      <a href="transcription/detail/{{transcription.pk}}">{{transcription}}</a>
    </div>
    {% endfor %}
  </div>
  <div class="column is-one-half">
    <h1 class="subtitle is-4">Projects <span class="subtitle is-5"><a
                                             href="project/create/">New
                                             Project</a></span></h1>

    <hr>
    {% for project in projects %}
    <div>
      <a href="/project/detail/{{project.pk}}">{{project}}</a>
    </div>
    {% endfor %}
  </div>
  </div> 
  </div>
</section>
{% endblock %}
