{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="hero box">
  <h1 class="title">New Project</h1>
  <p>A project is a collection of transcriptions. If transcriptions are a
  podcast episode, the project would be the Entire podcast</p>
    </div>
    <div class="container">
      <div class="box">
      <form method="POST">
        {% csrf_token %}
        <div class="field">
          <div class="control">
          {{form.as_p}}
        <input class="button is-info" type="submit">
      </form>
          </div>
    </div>
</section>
  

{% endblock %}
