{% extends 'base.html' %}
{% block content %}
  <section class="section">
    <div class="container">
    </div>
  </section>
  <section class="section">
    <div class="container">
        <div class="level">
          <div class="level-item level-left">
            <h2 class="subtitle is-3">Update: {{object.name}}</h2>
          </div>

          <div class="level-item level-left">
            <span class="tags has-addons">
              <a href="{% url 'project_dictionary_list' object.pk %}">
                <span class="tag">
                  <span class="icon">
                    <icon class="fas fa-book"></icon>
                  </span>
                </span>
                <span class="tag is-dark">
                  Dictionary Items
                </span>
              </a>
            </span>
          </div> {# End Level-Item #}
        </div> {# End Level #}
    </div> {# End Container #}

    <div class="container box">
      <div class="columns">
      <div class="column container">
      <form enctype="multipart/form-data" method="POST" class="post-project">
            {% csrf_token %}
            <div class="columns">
              <div class="column">
              <div class="field">
                <div class="control">
                  {{form.name.label}}{{form.name}}
                </div>
              </div>
              <div class="field">
                <div class="control">
                  {{form.url.label}}{{form.url}}
                </div>
              </div>
              <div class="field">
                <div class="control">
                  {{form.rss_feed_url.label}}{{form.rss_feed_url}}
                </div>
              </div>
              <div class="field">
              <div class="control">{{form.edit_allowed.label}}{{form.edit_allowed}}</div>
              </div>
            </div>

            <div class="column is-3">
            <div class="field">
              <div class="control">
                {{form.project_image.label}}
                {% if object.project_image %}
                <img src="{{object.project_image.url}}">
                {% endif %}
              </div>
            </div>
            <div class="field">
              <div class="control">
            {{form.project_image}} 
              </div>
            </div>
            </div>
            </div>

            <div class="field">

            <div class="field">

          <div class="control">
            <input type="submit" class="button is-link" value="Update Project">
          </div>
        </div>
      </form>
      </div>
      </div>
      </div>
</section>

{% endblock %}
