{% extends 'base.html' %}
{% block content %}
<section class="section">
<div class="container">
{% csrf_token %}
<div class="box">
      <h2 class="title is-3">Signup for Pro!</h2>
      <p class="content">A pro account will grant you more control over your
      transcriptions and unlock many automation features.</p>
  <div style="margin: 1em; 0" class="field">
    <div class="control">
      <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
    class="button is-info"
  id="checkout-button-plan_GaHwW4hWKKaxks"
  role="link"
>
Sign Up for a Transcriptor Pro Account
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_to8rSn0qxOTqmikle4oyu2ld');

  var checkoutButton = document.getElementById('checkout-button-plan_GaHwW4hWKKaxks');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      sessionId: '{{session_id}}'

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

</div>

{% endblock %}
