<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} PIT Transcriptor {% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<style>
.error-list {color: red;}
  {% block styler %}{% endblock %}
</style>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
	</script>
</head>
<body>
<section class="hero is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <h1 class="title is-1">
              <a href='/'>PIT Transcriptor <em class="is-size-5">(Alpha)</em></a>
            </h1>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">

        {% if user.is_authenticated %}
            <div class="navbar-item">
              <h2>Welcome Back, {{user}}</h2>
            </div>
            {% if subscription %}
            <div class="navbar-item has-text-warning">
            <span class="icon">
              <icon class="fas fa-star">
              </icon>
            </span>
              Premium User
            </div>
            {% endif %}
          <div class="navbar-item">
            <a 
            class="button is-light is-info is-light is-small" 
            href="{% url 'accounts_detail' user.pk %}">
              View Account
            </a>
          </div>
          <div class="navbar-item">
          <a class="button is-dark is-small" href="/accounts/logout">Logout</a>
      </div>
      </div>
    {% else %}
      <div class="navbar-item">
        <a class="button is-info is-light is-small" href="/accounts/login">Login</a>
      </div>
      <div class="navbar-item">
      <a class="button is-primary" href="/accounts/signup">Create Account</a>
    </div>
    {% endif %}
    </div>
    </nav> </div>

</section>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="notification is-success">
  {{message}}
</div>
{% elif message.tags == 'info' %}
<div class="notification is-info">
  {{message}}
</div>
{% elif message.tags == 'warning' %}
<div class="notification is-warning">
  {{message}}
</div>
{% elif message.tags == 'error' %}
<div class="notification is-danger">
  {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% block content %}
{% endblock %} 
<div class="container">
<footer class="footer">
	<p>
		PIT Transcriptor is a <a href="https://productivityintech.com" class="link">Productivity in Tech Project</a> 
	</p>
	<p>
		Code is open-source and can be seen on <span class="icon"><i class="fab fa-github"></i></span> 
</footer>
</div>
</body>
</html>
