<div class="modal ">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Ready to Go Pro?</h1>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="level">
        <div class="level-item">
          <div class="tabs is-toggle">
            <ul>
              <li class="is-active"><a>Pay Annually</a></li>
              <li><a>Pay Monthly</a></li>
            </ul>
          </div>
        </div>
      </div>

      <h1 class="title is-1 has-text-centered has-text-success">$250/year</h1>
      <h1 class="title is-1 has-text-centered has-text-success is-hidden">$25/month</h1>
      <h2 class="subtitle is-3 has-text-centered">Unlock tools that will make transcriptions even
        easier!</h2>
      <h2 class="subtitle">Unlock these features:</h2>
        <p class=" notification is-large has-text-weight-bold has-text-info">
          Sign up for a year and get a onboarding and walkthrough with our team!
        </p>
        <div class="notification is-info has-text-weight-bold">
          <div class="content">
        <ul>
          <li>Extended Permissions Around Editing and Approval</li>
          <li>Automated Transcription Processing </li>
          <li>Custom Dictionaries</li>
        </ul>
      </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="has-text-centered">
        <a href="" class="button is-primary is-large">Go Pro Now!</a>
        <a href="" class="button is-small is-warning is-capitalized">I'm not ready yet</a>
  </div>
      </footer>
  </div>
</div>

